[submodule "CryptoLib"]
	path = CryptoLib
	url = D:/Docs/Visual Studio 2022/Projects/LmbtSpace/CryptoLib
	branch = master
[submodule "LogLib"]
	path = LogLib
	url = https://github.com/Lambeth-R/lmbt-LogLib/
	branch = master
