[submodule "LogLib"]
	path = LogLib
	url = https://github.com/Lambeth-R/lmbt-LogLib/
	branch = master
[submodule "CryptoLib"]
	path = CryptoLib
	url = https://github.com/Lambeth-R/lmbt-CryptoLib/
	branch = main
[submodule "FsLib"]
	path = FsLib
	url = https://github.com/Lambeth-R/lmbt_FsLib
	branch = main
